.button {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 37px;
  padding-right: 37px;

  font-family: $fontText;
  font-size: 16px;
  color: #5597c3;

  background-color: #ffffff;

  border: 2px solid #5597c3;
  border-radius: 23px;
}
