.page-footer__app {
  padding-top: 13px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 21px;

  border-bottom: 1px solid #e9e9e9;
}

.page-footer__app-slogan {
  margin: 0;
  margin-bottom: 17px;
}

.page-footer__app-images {
  display: flex;
  justify-content: space-between;
}

.page-footer__socials {
  border-bottom: 1px solid #e9e9e9;
}

.page-footer__info {
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #e9e9e9;
}

.page-footer__info-link {
  display: block;
  margin-bottom: 16px;

  font-size: 14px;
  color: inherit;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 20px;

  font-size: 12px;
}
