.user {
  display: flex;
}

.user__image {
  margin-right: 16px;
}

.user__info {
  margin-top: 5px;
}

.user__name,
.user__phone {
  margin: 0;

  font-family: $fontText;
  font-size: 16px;
  line-height: 22px;
}
